@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  html {
    @apply text-[17.6px];
    @apply leading-[24px]!;
  }

  body {
  }
  h1 {
    @apply text-[35.2px] font-bold;
    @apply leading-[normal];
  }
  h2 {
    @apply font-bold my-5 text-xl;
  }

  h1,
  h2,
  h3 {
    @apply text-center;
  }
  p {
    @apply mb-4;
  }
  img {
    @apply my-4;
  }

  code {
    @apply font-mono! text-sm;
  }

  figure {
    @apply flex flex-col items-center my-5;
  }
}

html {
  background-image: url("/dot-grid.jpg");
  background-color: var(--background);
  background-repeat: repeat;
  color: var(--foreground);
}

/* Support class-based dark mode toggles too */
html.dark {
  --background: #000000;
  --foreground: #ededed;
  background-image: url("/dot-grid-invert.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
  html {
    background-image: url("/dot-grid-invert.jpg");
  }

  em {
    color: black !important;
  }
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif !important;
}
main {
  max-width: 20em;
  margin: 0 auto;
}
p {
  text-align: justify;
}

figcaption {
  font-family: serif;
  color: dimgray;
  font-size: 70% !important;
  max-width: 15em;
  line-height: normal;
}

em {
  background: #fefd80;
  border: 20px solid #fefd80;
  float: left;
  text-align: left;
  font-style: normal;
  margin-bottom: 20px;
}

/* Unvisited link */
a:link {
  color: #0000ee; /* Classic blue */
  text-decoration: underline;
}

/* Visited link */
a:visited {
  color: #551a8b; /* Classic purple */
  text-decoration: underline;
}

/* Mouse over link */
a:hover {
  color: #ee0000; /* Classic red, optional for hover effect */
  text-decoration: underline;
}

/* Selected link */
a:active {
  color: #ee0000; /* Classic red */
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a:link {
    color: #00c2ee;
    text-decoration: underline;
  }

  a:visited {
    color: #c384ff;
    text-decoration: underline;
  }

  a:hover {
    color: #ee0000;
    text-decoration: underline;
  }

  a:active {
    color: #ee0000;
    text-decoration: underline;
  }
}
